.transition-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.rotate-icon {
  transform: rotateX(180deg);
}

.animated-dropdown {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  display: block; /* чтобы transition работал */
  padding: 0; /* убрать лишние отступы при закрытии */
  pointer-events: none;
}

.animated-dropdown.show {
  max-height: 500px; /* достаточно большое значение */
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  padding: 0.5rem 0; /* вернуть отступы при открытии */
}

.custom-link {
  color: black;
  &:hover {
    color: #f39c12;
  }
}

.btn:focus,
.btn:focus-visible,
.btn:focus-within {
  outline: none !important;
  box-shadow: none !important;
}
